<!DOCTYPE html>
<html lang="en">
<style>
    th, td {
        border:3px solid black;
    }
    td {
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <table style="display: flex; justify-content: center; margin: 10rem; ">
        <tr>
            <th style="width: 150px;">Varsity Sport</th>
            <th>Males</th>
            <th>Females</th>
            <th>Total Participants</th>
        </tr>
        <tr>
            <td>Baseball</td>
            <td>29</td>
            <td>0</td>
            <td>29</td>
        </tr>
        <tr>
            <td>Basketball</td>
            <td>14</td>
            <td>14</td>
            <td>28</td>
        </tr>
        
        <tr>
            <td>Cross Country</td>
            <td>16</td>
            <td>18</td>
            <td>34</td>
        </tr>
        
        <tr>
            <td>Lacrosse</td>
            <td>35</td>
            <td>19</td>
            <td>54</td>
        </tr>
        
        <tr>
            <td>Soccer</td>
            <td>29</td>
            <td>24</td>
            <td>53</td>
        </tr>
        
        <tr>
            <td>Swimming</td>
            <td>29</td>
            <td>33</td>
            <td>62</td>
        </tr>
        
    </table>
</body>
</html>